html {
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
}
body {
    margin: 0;
}
.child {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}
.child span {
    font-size: 2em;
    border-bottom: 2px solid black;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
}

#container1 {
    background: linear-gradient(to right, #7f00ff, #e100ff);
}
#container2 {
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
#container3 {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}
#container4 {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
#container5 {
    background: linear-gradient(to right, #7f00ff, #e100ff);
}

/* ===================================== */
/* ===================================== */
/* ========= CUSTOM SCROLL BAR ========= */
/* ===================================== */
/* ===================================== */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(to top, #c9d6ff, #e2e2e2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: magenta;
  }

/* ===================================== */
/* ===================================== */
/* ============ MENU STYLING =========== */
/* ===================================== */
/* ===================================== */
.menu-dropdown {
    position: fixed;
    top: -52px;
    /* opacity: 0; */
    /* display: none; */
    /* visibility: hidden; */
    left: 0;
    right: 0;
    background-color: white;
    transition: .5s ease-out;
    z-index: 2;
}
.menu-dropdown ul {
    display: flex;
}
.menu-dropdown ul li {
    margin: 0 20px;
}
.hamburger {
    position: fixed;
    top: 2px;
    right: 2px;
    z-index: 3;
}
.hamburger:hover + .menu-dropdown {
    top: 0;
    /* opacity: 1; */
    /* display: flex; */
    /* visibility: visible; */
}
.hamburger:hover ~ .blur {
    backdrop-filter: blur(3px);
}
.blur {
    height: 100vh;
    width: 100%;
    /* z-index: 0; */
    /* background-color: gray; */
    position: fixed;
    z-index: 1;
    transition: 1s;
}