html {
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
}
body {
    margin: 0;
}
section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}
span {
    font-size: 2em;
    border-bottom: 2px solid black;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
}

#container1 {
    background: linear-gradient(to right, #7f00ff, #e100ff);
}
#container2 {
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
#container3 {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}
#container4 {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
#container5 {
    background: linear-gradient(to right, #7f00ff, #e100ff);
}

/* ===================================== */
/* ===================================== */
/* ========= CUSTOM SCROLL BAR ========= */
/* ===================================== */
/* ===================================== */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(to top, #c9d6ff, #e2e2e2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: magenta;
  }