body {
  caret-color: transparent;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 79.875px;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(32, 118, 204);
  position: fixed;
  top: 0px;
  width: 100%;
}
.moreCards {
  outline: 2px solid black;
  margin: 20px;
  width: 200px;
  height: 275px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lessCards {
  outline: 2px solid black;
  margin: 20px;
  width: 200px;
  height: 275px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: inline-block;
  text-align: center;
  flex-direction: column;
  outline: 2px solid black;
  overflow: hidden;
  margin: 20px;
  width: 200px;
  height: 275px;
  border-radius: 5%;
  line-height: 3px;
  font-weight: bold;
}
